{% if breadcrumbs %}
<div class="breadcrumb-wrap">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
        {% for crumb in breadcrumbs %}
          {% if forloop.last %}
          <li class="breadcrumb-item active">{{ crumb.name }}</li>
          {% else %}
          <li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    </nav>
  </div>
</div>
{% endif %}
